[submodule "terminal"]
	path = terminal
	url = git@github.com:averyjl/AveryOS_Terminal_FullStack.git

[submodule "vaultchain"]
	path = vaultchain
	url = git@github.com:averyjl/averyos-vaultchain-core.git
