name = "averyoscom-runtime"
compatibility_date = "2026-02-05"
main = ".open-next/worker.js"
compatibility_flags = ["nodejs_compat"]

[assets]
binding = "ASSETS"
directory = ".open-next/assets"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1

# Root Domain Binding - REPLACING THE A-RECORDS
[[routes]]
pattern = "averyos.com"
custom_domain = true

[[routes]]
pattern = "averyos.com/*"
custom_domain = true

[vars]
SITE_URL = "https://averyos.com"
NPM_CONFIG_REGISTRY = "https://registry.npmjs.org/"
NEXT_TELEMETRY_DISABLED = "1"

[env.production]
workers_dev = false
