name = "averyos-runtime"
main = "dist/worker.js"
compatibility_date = "2026-02-05"
workers_dev = false

[build]
command = "bun run build"
upload_format = "modules"
upload_dir = "dist"

[env.production]
name = "averyos-runtime"
workers_dev = false
routes = ["https://averyos.com/*"]
